body
{
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-size: 1366px 1536px;
}

.midden
{
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	margin-top: -8px;
}

.companyname
{
    display: block;
	text-align: center;
	position: relative;
    top: -290px;
	font-size: 100px;
	color: #ffffff;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.navigation
{
    display: block;
	text-align: center;
	position: relative;
    top: -70px;
	font-size: 30px;
	color: #ffffff;
}

.contact
{
    display: block;
	text-align: center;
	position: relative;
    top: -185px;
	font-size: 100px;
	color: #ffffff;
	line-height: 10px;
}

.moreinformation
{
    display: block;
	text-align: left; 
	position: relative;
    top: -700px;
	margin-left: +210px;
	font-size: 100px;
	color: #707070;
	line-height: 10px;
	font-size: 30px;
}


.graybox
{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: -323px;
	width: 958px;
	height: 50px;
	background: #707070;
	outline: 1px solid #ffffff;
}

.lightgraybox
{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: -208px;
	width: 958px;
	height: 700px;
	background: #F5F5F5;
	outline: 1px solid #7c7c7c;
}

.bluebox
{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: -93px;
	width: 960px;
	height: 156px;
	background: #2699FB;
	outline: 1px solid #ffffff;	
}

.whitebox
{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: -300px;
	width: 960px;
	height: 1070px;
	background: #ffffff
}

.blackbox
{
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: +50px;
	width: 960px;
	height: 100px;
	background: #000000
}

.form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: left;
	margin-top: -700px;
	margin-left: +225px;
}

.fieldset
{
	background-color: #ffffff;
	width: 850px;
}

.select
{
	width: 500px;
}

.submit
{
	width: 892px;
	height: 60px;
	background: #3060ad;
	font-family: Helvetica;
	font-size: 30px;
	color: #ffffff;
}

.footer
{
    display: block;
	text-align: center;
	position: relative;
    top: -56px;
	font-size: 40px;
}
